In [1]:
import pandas as pd
import numpy as np

# Generate RN & RD

In [2]:
path = '/home/users/YongsungKwon/workplace/Yongpyter/Tuberculosis_hospital_optimization/data_result/raw_data/'
D_sido = pd.read_csv(path+'2014_2022_sido_10age_fatalities.txt',sep='\t')
N_sido = pd.read_csv(path+'2014_2022_sido_10age_patients.txt',sep='\t')

In [3]:
for y in range(2014, 2023):
    year=str(y) #year = '2014'
    data_sigungu = pd.read_csv(path+year+'.txt',sep='\t')
    D_sido_year = D_sido.loc[:, ["sido", "age", year]]
    N_sido_year = N_sido.loc[:, ["sido", "age", year]]
    D_sido_year['D_sum'] = D_sido_year.groupby('sido')[year].transform('sum')
    D_sido_year['RD'] = D_sido_year[year]/D_sido_year['D_sum']
    N_sido_year['N_sum'] = N_sido_year.groupby('sido')[year].transform('sum')
    N_sido_year['RN'] = N_sido_year[year]/N_sido_year['N_sum']

    D_pivot = D_sido_year.pivot(index="sido", columns="age", values="RD")
    D_pivot.columns = ["RD" + str(col) for col in D_pivot.columns]
    D_pivot.reset_index(inplace=True)
    N_pivot = N_sido_year.pivot(index="sido", columns="age", values="RN")
    N_pivot.columns = ["RN" + str(col) for col in N_pivot.columns]
    N_pivot.reset_index(inplace=True)

    new_data = pd.DataFrame()
    new_data['sido'] = data_sigungu['#sido']
    new_data['sigungu'] = data_sigungu['sigungu']
    new_data['h'] = data_sigungu['h']
    new_data['A'] = data_sigungu['A']
    new_data['N'] = data_sigungu['N']
    new_data['D'] = data_sigungu['D']
    
    new_data = new_data.merge(N_pivot, on="sido", how="left")
    new_data = new_data.merge(D_pivot, on="sido", how="left")
    new_data.to_csv(path+year+'_RNRD.txt',sep='\t', index=False)

In [22]:
new_data

,sido,sigungu,N,D,h,RN0_9,RN10_19,RN20_29,RN30_39,RN40_49,...,RN80_,RD0_9,RD10_19,RD20_29,RD30_39,RD40_49,RD50_59,RD60_69,RD70_79,RD80_
0,Seoul,강남구,323,12,4,0.002342,0.038647,0.144049,0.139657,0.150051,...,0.080223,0.0,0.0,0.002801,0.025210,0.061625,0.148459,0.128852,0.277311,0.355742
1,Seoul,강동구,288,18,3,0.002342,0.038647,0.144049,0.139657,0.150051,...,0.080223,0.0,0.0,0.002801,0.025210,0.061625,0.148459,0.128852,0.277311,0.355742
2,Seoul,강북구,256,16,1,0.002342,0.038647,0.144049,0.139657,0.150051,...,0.080223,0.0,0.0,0.002801,0.025210,0.061625,0.148459,0.128852,0.277311,0.355742
3,Seoul,강서구,266,14,3,0.002342,0.038647,0.144049,0.139657,0.150051,...,0.080223,0.0,0.0,0.002801,0.025210,0.061625,0.148459,0.128852,0.277311,0.355742
4,Seoul,관악구,342,14,2,0.002342,0.038647,0.144049,0.139657,0.150051,...,0.080223,0.0,0.0,0.002801,0.025210,0.061625,0.148459,0.128852,0.277311,0.355742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Gyeongnam,함안군,52,5,0,0.001743,0.037908,0.111547,0.093682,0.135512,...,0.131590,0.0,0.0,0.006536,0.006536,0.058824,0.091503,0.058824,0.215686,0.562092
224,Gyeongnam,함양군,51,3,0,0.001743,0.037908,0.111547,0.093682,0.135512,...,0.131590,0.0,0.0,0.006536,0.006536,0.058824,0.091503,0.058824,0.215686,0.562092
225,Gyeongnam,합천군,58,10,0,0.001743,0.037908,0.111547,0.093682,0.135512,...,0.131590,0.0,0.0,0.006536,0.006536,0.058824,0.091503,0.058824,0.215686,0.562092
226,Jeju,제주시,284,11,6,0.008000,0.034667,0.128000,0.130667,0.192000,...,0.080000,0.0,0.0,0.000000,0.000000,0.071429,0.142857,0.285714,0.142857,0.357143
227,Jeju,서귀포시,91,3,1,0.008000,0.034667,0.128000,0.130667,0.192000,...,0.080000,0.0,0.0,0.000000,0.000000,0.071429,0.142857,0.285714,0.142857,0.357143