In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
h_01_path='/home/users/YongsungKwon/workplace/Yongpyter/Tuberculosis_hospital_optimization/data_result/at_b/opt_E_h_a015_005/2014MC_age_h_opt_a_5.csv'
h_00_path='/home/users/YongsungKwon/workplace/Yongpyter/Tuberculosis_hospital_optimization/data_result/at_b/opt_E_h_a015_005/2014MC_age_h_opt_a_15.csv'
h_01=pd.read_csv(h_01_path)
h_00=pd.read_csv(h_00_path)

In [19]:
h_01

        h
0    3.98
1    3.48
2    1.47
3    3.26
4    2.43
..    ...
138  1.84
139  2.91
140  8.92
141  5.08
142  1.01

[143 rows x 1 columns]

In [20]:
h_00

        h
0    3.81
1    3.38
2    1.53
3    3.12
4    2.41
..    ...
138  1.88
139  2.94
140  8.91
141  4.44
142  0.93

[143 rows x 1 columns]